.sidebar {
  padding-left: 0.5vw;
}

summary {
  font-weight: bold;
  padding-left: 1vw;
  list-style-type: "+";
}

.activated-menu {
  background-color: antiquewhite;
}

.sidebar-title {
  font-size: medium;
  padding: 0;
  margin: 1px;
  color: #c45510;
}

th,
td {
  text-align: left;
}

tr th {
  white-space: nowrap;
}

img {
  text-align: center;
}

p {
  text-align: justify;
}

