.sidebar {
  padding-left: 0.5vw;
  width: 25vw;
}


.legenda {
  font-weight: bold;
  color: #c45510 !important;
  text-align: center;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

summary {
  font-weight: bold;
  padding-left: 2vw;
  list-style-type: "+";
}

.activated-menu {
  background-color: antiquewhite;
}

.sidebar-title {
  font-size: medium;
  padding: 0;
  margin: 1px;
  color: #c45510;
}

th,
td {
  text-align: left;
}

tr th {
  white-space: nowrap;
}

img {
  justify-content: center !important;
  justify-self: center !important;
}


p {
  text-align: justify;
  color: rgb(7, 22, 36);
}

h1 *,
h2 *,
h3 *,
h4 * {
  color: #2c6379 !important;
}


article {
  counter-reset: section figuras subsubsection;
}

h2 {
  counter-reset: subsection;
}

h3 {
  counter-reset: subsubsection;
}

h2:before {
  counter-increment: section;
  content: counter(section) ". ";
}

h3:before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}

h4:before {
  counter-increment: subsubsection;
  content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}

.legenda:before {
  counter-increment: figuras;
  content: "Figura " counter(figuras) ". ";
}